{% extends 'noteapp/base.html' %}

{% block content %}
<main class="col-md-5 mx-auto mt-3" style="min-width: 400px;">
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <button class="nav-link {% if not do_post %} active {% endif %}" id="nav-all-tab" data-bs-toggle="tab"
                data-bs-target="#nav-all"
                type="button" role="tab" aria-controls="nav-all" aria-selected="false"
                style="--bs-nav-link-color: grey;">Show all
        </button>
        <button class="nav-link {% if do_post %} active {% endif %}" id="nav-create-tab" data-bs-toggle="tab"
                data-bs-target="#nav-create"
                type="button" role="tab" aria-controls="nav-create" aria-selected="true"
                style="--bs-nav-link-color: grey;">Create
        </button>
    </div>
    <div class="tab-content py-3" id="nav-tabContent">
        <div class="tab-pane fade {% if not do_post %} show active {% endif %}" id="nav-all" role="tabpanel"
             aria-labelledby="nav-all-tab" tabindex="0">
            {% for tag in tags %}
            <div class="d-flex">
                <div class="col-8 list-group p-1">
                    <a class="link-underline link-underline-opacity-0 text-black list-group-item list-group-item-light shadow rounded">
                        {{ tag }}
                    </a>
                </div>
                <div class="col-4 p-1 d-flex justify-content-evenly">
                    <a href="{% url 'noteapp:edit_tag' tag.id %}" role="button"
                       class="btn btn-outline-success btn-sm p-2 flex-fill shadow rounded" style="margin-right:4px;">
                        Edit
                    </a>
                    <a href="{% url 'noteapp:delete_tag' tag.id %}" role="button"
                       class="btn btn-outline-danger btn-sm p-2 flex-fill shadow rounded" style="margin-left:4px;">
                        Delete
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade {% if do_post %} show active {% endif %}" id="nav-create" role="tabpanel"
             aria-labelledby="nav-create-tab"
             tabindex="0">
            <form class="vstack gap-2" method="POST">
                {% csrf_token %}
                <div class="input-group shadow bg-body-tertiary rounded">
                    <span class="input-group-text">Tag</span>
                    {{ form.name }}
                </div>
                <span>{{ form.errors.name }}</span>
                <div class="btn-group shadow bg-body-tertiary rounded">
                    <button type="submit" class="btn btn-outline-primary w-50">Create</button>
                    <button type="reset" class="btn btn-outline-secondary w-50">Reset</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
